@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 100;
  src: url(../public/font/BonyadeKoodakKoochak-Thin.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 200;
  src: url(../public/font/BonyadeKoodakKoochak-ExtraLight.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 300;
  src: url(../public/font/BonyadeKoodakKoochak-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 400;
  src: url(../public/font/BonyadeKoodakKoochak-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 500;
  src: url(../public/font/BonyadeKoodakKoochak-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 600;
  src: url(../public/font/BonyadeKoodakKoochak-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 700;
  src: url(../public/font/BonyadeKoodakKoochak-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: 'BonyadeKoodakKoochak';
  font-style: normal;
  font-weight: 800;
  src: url(../public/font/BonyadeKoodakKoochak-Black.woff2) format('woff2');
}

.persian,
.persian * {
  direction: rtl;
  font-family: 'BonyadeKoodakKoochak', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: 'BonyadeKoodakKoochak', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}
